<div class="parameters container">
<form role="form" class="form-horizontal">
		<div class="form-group form-group-sm">
			<label class="col-xs-4 control-label">Hashtag(s)</label>
			<div class="col-xs-8">
				 <input type="text" class="form-control input-normal" pattern="([a-zA-Z][a-zA-Z0-9]* *)+"  ng-model="tags" autofocus><br>
			</div>
		 </div>
		 <div class="form-group form-group-sm">
			<label class="col-xs-4 control-label">Limit to most recent posts</label> 
			<div class="col-xs-8">
				<input type="number" class=" form-control"  ng-model="maxPosts" min="0" max="1000">
			</div>
		</div>
		 <div class="form-group form-group-sm">
			<label class="col-xs-4 control-label">Start date</label>
			<div class="col-xs-8">
				<input type="date" class="form-control" ng-model="untilDate" >
			</div>
		</div>
		 <div class="form-group form-group-sm">
			<label class="col-xs-4 control-label">Show at most</label>
			<div class="col-xs-8">			
				<input type="number" ng-model="pluck" class="form-control" min="10" max="300">
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary col-xs-offset-4" ng-click="run()">Run</button>
		</div>
</form>
</div>
<div ng-if="results" class="results">
	<div>
		<h1>Results</h1>
		<p>
				{{results.media.length}} posts from
				{{results.earliest.created_time * 1000 | date:mediumDate}}
				 to
				{{results.latest.created_time * 1000 | date:mediumDate}}
				({{(results.latest.created_time - results.earliest.created_time) / 60 / 60 / 24 | number:0}} days); approx  
				{{results.media.length / ((results.latest.created_time - results.earliest.created_time) / 60 / 60 / 24) | number:2}} posts/day.
		</p>
	</div>
	<div>
		<div class="summary container">
			<div class="row">
				<div class="topUsers col-sm-4">
					<table class="table table-condensed">
						<caption>Top Users</caption>
						<tr><th class="handle">Handle</th> <th class="count">Count</th></tr>
						<tr><td colspan="2"><input type="search" ng-model="searchByHandle.handle" placeholder="filter by user"></td><td/></tr>
						<tr ng-repeat="result in results.byUsers | filter:searchByHandle">
							<td class="handle"><span ng-click="showPostsFromUser(result.handle)">{{result.handle}}</span></td>
							<td class="count">{{result.count}}</td>
						</tr>
					</table>
				</div>
				
				<div class="topHashtags col-sm-4">
					<table class="table table-condensed">
						<caption>Top Hashtags</caption>
						<tr><th class="tag">Tag</th> <th class="count">Count</th></tr>
						<tr><td colspan="2"><input type="search" ng-model="searchByTag.tag" placeholder="filter by tag"></td><td/></tr>
						<tr ng-repeat="result in results.byHashtags | filter:searchByTag">
							<td class="tag"><span ng-click="showPostsWithTag(result.tag)">{{result.tag}}</span></td>
							<td class="count">{{result.count}}</td>
						</tr>
					</table>
				</div>
			
				<div class="topHashtagPerUser col-sm-4">
					<table class="table table-condensed">
						<caption>Top Hashtags per User</caption>
						<tr><th class="handle">Handle</th> <th class="tag">Tag</th> <th class="count">Count</th></tr>
						<tr>
							<td><input type="search" ng-model="searchByHandleCount.handle" placeholder="filter by user"></td>
							<td><input type="search" ng-model="searchByHandleCount.tag" placeholder="filter by tag"></td>
							<td/></tr>		
						<tr ng-repeat="result in results.hashtagsByUser | filter:searchByHandleCount">
							<td class="handle"><span ng-click="showPostsFromUserWithTag(result.handle,result.tag)">{{result.handle}}</span></td>
							<td class="tag"><span ng-click="showPostsFromUserWithTag(result.handle,result.tag)">{{result.tag}}</span></td>
							 <td class="count">{{result.count}}</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>	<!--  class="summary" -->		
	</div>

<!-- <div>{{results}}</div> -->
</div>
